{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}Account Details{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>{% trans "Account Details" %}</h3>
        </div>
        <div class="card-body">
            <p>{% trans "Username" %}: {{ user.username }}</p>
            <p>{% trans "First Name" %}: {{ user.first_name }}</p>
            <p>{% trans "Last Name" %}: {{ user.last_name }}</p>
            <p>{% trans "Email" %}: {{ user.email }}</p>
            <a href="{% url 'account_edit' %}" class="btn btn-primary">{% trans "Edit" %}</a>
            <a href="{% url 'account_delete' %}" class="btn btn-danger">{% trans "Delete Account" %}</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card">
            <div class="modal-header card-header">
                <h5 class="modal-title" id="responseModalLabel">{% trans "Response" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body card-body">
                <!-- The response message will be inserted here by JavaScript -->
            </div>
            <div class="modal-footer card-footer">
                <button type="button" class="btn btn-primary" id="modalCloseButton" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}