{% load i18n %}
{% load static %}
<form class="login" method="POST" action="{% url 'custom_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="original_page" id="originalPage" value="{{ request.META.HTTP_REFERER|default:'/' }}">
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary right" type="submit">{% trans "Login" %} &raquo;</button>
</form>