{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}Logout{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>{% trans "Logout" %}</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">{% trans 'Are you sure you want to sign out?' %}</h5>
        </div>
        <div class="card-footer">
            <form class="logout" id="logout_form" method="post" action="{% url 'custom_logout' %}">
                {% csrf_token %}
                <button class="btn btn-primary right" type="submit">{% trans "Logout" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card">
            <div class="modal-header card-header">
                <h5 class="modal-title" id="responseModalLabel">Response</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body card-body">
                <!-- The response message will be inserted here by JavaScript -->
            </div>
            <div class="modal-footer card-footer">
                <button type="button" class="btn btn-primary" id="modalCloseButton" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/logout.js' %}"></script>
{% endblock %}