<!-- FILE: booking/templates/booking/booking_detail.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Booking Details" %}{% endblock title %}
{% block description %}{% trans "View and edit booking details" %}{% endblock description %}

{% block styles %}
<link rel="stylesheet" href="{% static 'booking/css/booking_styles.css' %}">
{% endblock styles %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="card-title mb-4">{% trans "Booking Details" %}</h1>
        </div>
        <div class="card-body">
            <form id="bookingForm">
                <div class="mb-3">
                    <label for="eventLocation" class="form-label">{% trans "Event Location" %}</label>
                    <p id="eventLocation">{{ booking.event_location }}</p>
                </div>
                <div class="mb-3">
                    <label for="startTime" class="form-label">{% trans "Start Time" %}</label>
                    <input type="datetime-local" class="form-control" id="startTime" value="{{ booking.start_time|date:'Y-m-d\TH:i' }}">
                </div>
                <div class="mb-3">
                    <label for="guests" class="form-label">{% trans "Guests" %}</label>
                    <input type="number" class="form-control" id="guests" value="{{ booking.guests }}">
                </div>
                <div class="mb-3">
                    <label for="tables" class="form-label">{% trans "Tables" %}</label>
                    <p id="tables">{{ booking.tables }}</p>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">{% trans "Status" %}</label>
                    <select class="form-select" id="status">
                        <option value="Requested" {% if booking.status == "Requested" %}selected{% endif %}>{% trans "Requested" %}</option>
                        <option value="Confirmed" {% if booking.status == "Confirmed" %}selected{% endif %}>{% trans "Confirmed" %}</option>
                        <option value="Cancelled" {% if booking.status == "Cancelled" %}selected{% endif %}>{% trans "Cancelled" %}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="commentsUser" class="form-label">{% trans "Comments from User" %}</label>
                    <textarea class="form-control" id="commentsUser">{{ booking.comments_user }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="commentsStaff" class="form-label">{% trans "Comments from Staff" %}</label>
                    <textarea class="form-control" id="commentsStaff">{{ booking.comments_staff }}</textarea>
                </div>
                <button type="button" class="btn btn-primary" id="saveBookingButton">{% trans "Save changes" %}</button>
            </form>
            <div class="card mt-4 mx-auto" style="max-width: 600px;">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">{% trans "Booked By" %}</h5>
                </div>
                <div class="card-body">
                    <p><strong>{% trans "First Name" %}:</strong> {{ booking.user.first_name }}</p>
                    <p><strong>{% trans "Last Name" %}:</strong> {{ booking.user.last_name }}</p>
                    <p><strong>{% trans "Username" %}:</strong> {{ booking.user.username }}</p>
                    <p><strong>{% trans "Email" %}:</strong> {{ booking.user.email }}</p>
                    <p><strong>{% trans "Phone" %}:</strong> {{ booking.user.phone }}</p>
                    <p><strong>{% trans "Upcoming Bookings" %}:</strong> {{ booking.user.upcoming_bookings_count }}</p>
                    <p>&emsp;{% trans "Confirmed" %}: <span class="text-success fw-bold">{{ booking.user.confirmed_upcoming_bookings_count }}</span></p>
                    <p>&emsp;{% trans "Unconfirmed" %}: <span class="text-danger fw-bold">{{ booking.user.unconfirmed_upcoming_bookings_count }}</span></p>
                    <p><strong>{% trans "Total Bookings to Date" %}:</strong> {{ booking.user.total_bookings_count }}</p>
                    <p>&emsp;{% trans "Confirmed" %}: <span class="text-success fw-bold">{{ booking.user.total_confirmed_bookings_count }}</span></p>
                    <p>&emsp;{% trans "Unconfirmed" %}: <span class="text-danger fw-bold">{{ booking.user.total_unconfirmed_bookings_count }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Response Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="responseModalLabel">{% trans "Response" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="responseMessage">
                <!-- Response message will be populated here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
{% include 'includes/django_vars.html' %}
{% endblock content %}

{% block scripts %}
<script src="{% static 'booking/js/booking_detail.js' %}"></script>
{% endblock scripts %}