<!-- FILE: booking/templates/booking/confirm_booking.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Confirm Booking" %}{% endblock title %}
{% block description %}{% trans "Confirm or reject a booking request" %}{% endblock description %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="card-title mb-4">{% trans "Confirm Booking" %}</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}