<!-- FILE: booking/templates/booking/event_bookings.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Event Bookings" %}{% endblock title %}
{% block description %}{% trans "View bookings for an event" %}{% endblock description %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="card-title mb-4">{% trans "Event Bookings" %}</h1>
        </div>
        <div class="card-body">
            <h2>{{ event.location }}</h2>
            <p>
                {% trans "Start" %}: {{ event.start }}<br>
                {% trans "Stop" %}: {{ event.stop }}<br>
                {% trans "Confirmed Bookings" %}: {{ confirmed_bookings }}<br>
                {% trans "Available Slots" %}: {{ available_slots }}<br>
                {% trans "Booking Requests" %}: {{ booking_requests }}<br>
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{% trans "User" %}</th>
                        <th>{% trans "Start Time" %}</th>
                        <th>{% trans "End Time" %}</th>
                        <th>{% trans "Number of People" %}</th>
                        <th>{% trans "Confirmed" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.user.username }}</td>
                        <td>{{ booking.start_time }}</td>
                        <td>{{ booking.end_time }}</td>
                        <td>{{ booking.number_of_people }}</td>
                        <td>{{ booking.confirmed }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}