<!-- FILE: booking/templates/booking/events_overview.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "MunchMonkey - Events Overview" %}{% endblock title %}
{% block description %}{% trans "Manage and organize your events" %}{% endblock description %}

{% block styles %}
<link rel="stylesheet" href="{% static 'booking/css/booking_styles.css' %}">
{% endblock styles %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="card-title mb-4">{% trans "Events Overview" %}</h1>
        </div>
        <div class="card-body">
            <p class="text-center">{% trans "This page allows you to manage and organize your events. You can add new events, edit existing ones, or remove them as needed." %}</p>
            <div class="d-flex justify-content-around mb-4">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEventModal">{% trans "Add Event" %}</button>
                <button id="remove-selected" class="btn btn-danger" disabled>{% trans "Remove Selected Events" %}</button>
            </div>
            <hr>
            <form id="remove-selected-form" method="post" action="{% url 'remove_selected_events' %}">
                {% csrf_token %}
                <div class="row">
                    {% for event in events %}
                    <div class="col-md-4 mb-4">
                        <div class="card event-card" data-event-id="{{ event.id }}">
                            <div class="card-header bg-primary text-white">
                                <h5 class="card-title">{{ event.location }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {% trans "Start" %}: {{ event.start }}<br>
                                    {% trans "Stop" %}: {{ event.stop }}<br>
                                    {% trans "Available Slots" %}: {{ event.available_slots }}<br>
                                    {% trans "Address" %}: {{ event.address }}<br>
                                    {% trans "Info" %}: {{ event.info }}
                                </p>
                            </div>
                            <div class="card-footer p-0 d-flex">
                                <input type="checkbox" class="form-check-input event-checkbox" name="selected_events" value="{{ event.id }}" hidden>
                                <form method="get" action="{% url 'edit_event' event.id %}" class="w-50 m-0">
                                    <button type="submit" class="btn btn-secondary btn-sm w-100 rounded-0">{% trans "Edit" %}</button>
                                </form>
                                <form method="post" action="{% url 'remove_event' event.id %}" class="w-50 m-0">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm w-100 rounded-0">{% trans "Remove" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Event Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="addEventModalLabel">{% trans "Add Event" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-event-form" method="post" action="{% url 'add_event' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">{% trans "Add Event" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const removeSelectedEventsUrl = "{% url 'remove_selected_events' %}";
</script>
<script src="{% static 'booking/js/events_overview.js' %}"></script>
{% endblock scripts %}