{% extends 'base.html' %}
{% load static %}
{% block title %}MunchMonkey Pop-Up Munch for the masses{% endblock %}
{% block description %}Pop-Up Munch for the masses{% endblock %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/intro.jpg' %}" alt="MunchMonkey Pop-Up Restraunt" />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Welcome to MunchMonkey</span>
                    <span class="section-heading-lower">Boutique Streetfood Pop-Up</span>
                </h2>
                <p class="mb-3">Step into a world of culinary delights at MunchMonkey, where we offer a unique and exquisite streetfood experience. Our pop-up dining concept brings the best of local ingredients and artisanal craftsmanship to your doorstep, creating a memorable and unforgettable dining experience.</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Experience Our Food Today!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">At MunchMonkey, we pride ourselves on providing a high-quality, diverse, and delicious menu that showcases the best of local ingredients and artisanal craftsmanship. Our team is dedicated to creating a welcoming and unforgettable experience for our guests, ensuring that they leave with a full stomach and a smile on their faces.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}