<!-- FILE: templates/includes/django_vars.html -->
<script>
    const customLoginUrl = "{% url 'custom_login' %}";
    const customSignupUrl = "{% url 'custom_signup' %}";
    const customLogoutUrl = "{% url 'custom_logout' %}";
    const accountDetailUrl = "{% url 'account_detail' %}";
    const accountEditUrl = "{% url 'account_edit' %}";
    const accountDeleteUrl = "{% url 'account_delete' %}";
    const accountChangePasswordUrl = "{% url 'account_change_password' %}";
    // Add more variables as needed
</script>